// Here you can add other styles

.loginImage{
    height: 400px;
}
@media (max-width: 575px) {
    .loginImage {
      height: 330px;
    }
}
@media (max-width: 415px) {
    .loginImage {
      height: 230px;
    }
}
@media (max-width: 385px) {
    .loginImage {
      height: 190px;
    }
}


.confirmColorModal{
  margin-left: 58%;
}
@media (max-width: 500px) {
  .confirmColorModal {
    margin-left: 40%;
  }
}
@media (max-width: 400px) {
  .confirmColorModal {
    margin-left: 30%;
  }
}
